<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete webhook</h4>
    </div>
    <div class="modal-body">
        <p>{{generalWebhook.event | capitalizeDottedSentence | capitalizeUnderscoredSentence}}, {{generalWebhook.url}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary dashboard-btn pull-left" ng-click="$dismiss()">Close</button>
        <button ng-click="deleteGeneralWebhook()" ng-disabled="deletingGeneralWebhook" type="button" class="btn btn-danger dashboard-btn pull-right" ng-click="">Delete</button>
    </div>
</div>
