<div ng-keydown="($event.keyCode === 13)  && getLatestTransactions('applyFilter')">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>Email</strong></label>
            <input type="email"  class="form-control" id="email"  placeholder="Enter email address" ng-model="searchParams.searchEmail" size="12">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>Type</strong></label>
            <br>
            <select class="form-control pointer" ng-model="searchParams.searchType" ng-options="type for type in typeOptions">
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>Transaction hash</strong></label>
            <input type="text"  class="form-control" id="to"  placeholder="Enter Transaction hash." ng-model="searchParams.searchTxHash" size="12">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>Rehive code</strong></label>
            <input type="text" ng-model="searchParams.searchRehiveCode" class="form-control" id="rehiveCode"  placeholder="Rehive code">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>From date</strong></label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{dateObj.format}}" ng-model="searchParams.searchDateFrom"
                       placeholder="mm/dd/yyyy" is-open="popup1.opened" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>To date</strong></label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{dateObj.format}}" ng-model="searchParams.searchDateTo"
                       placeholder="mm/dd/yyyy" is-open="popup2.opened" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>Status</strong></label>
            <br>
            <select class="form-control pointer" ng-model="searchParams.searchStatus" ng-options="status for status in statusOptions">
            </select>
        </div>
        <!--<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">-->
            <!--<label><strong>Order By</strong></label>-->
            <!--<br>-->
            <!--<select class="form-control pointer" ng-model="searchParams.searchOrderBy" ng-options="orderBy for orderBy in orderByOptions">-->
            <!--</select>-->
        <!--</div>-->
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right apply-button">
            <label>&nbsp;</label>
            <br>
            <button ng-disabled="loadingTransactions" class="btn btn-primary" ng-click="getLatestTransactions('applyFilter')">Apply</button>
        </div>
    </div>
</div>