<div ng-hide="updatingCompanyInfo" ba-panel ba-panel-title="Company info" class="service-header">
    <form name="companyEmailForm">
        <div class="form-group">
            <label><strong>Company name</strong></label>
            <input type="text" class="form-control divider" ng-model="company.name" placeholder="Enter company name" required/>
        </div>
        <button ng-disabled="!companyEmailForm.$valid" ng-click="updateCompanyInfo()" class="btn btn-primary pull-right">Save</button>
    </form>
</div>
<div ba-panel ng-show="updatingCompanyInfo" class="service-header">
    <loading-image></loading-image>
</div>