<div ba-panel class="menu-box" ba-panel-class="light-text" ba-panel-title="Webhooks">
    <hr class="no-margin">
    <div ng-click="goToSetting('/webhooks/transaction-webhooks')" class="pointer menu-box-options">
        <h5>Transaction webhooks <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/webhooks/user-webhooks')" class="pointer menu-box-options">
        <h5>User webhooks <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
