<div ba-panel class="menu-box" ba-panel-class="light-text">
    <img ng-src="{{defaultImageUrl}}" class="image-center" width="90" height="90" alt="token Image">
    <hr class="no-margin">
    <div ng-click="goToSetting('/webhooks/user')" class="pointer menu-box-options">
        <h5>User webhooks<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/webhooks/transaction')" class="pointer menu-box-options">
        <h5>Transaction webhooks<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>