.accordian-buttons{
  &> a > button{
    margin-bottom: 20px;
    width: 100%;
  }
  &> a > button:first-child{
    padding-left: 0;
  }
  &> a > button:last-child{
    padding-right: 0;
  }
}

.service-list-navigation-ul{
  padding: 0;
}

.service-list-navigation{
  display: inline-block;
  margin-right: 50px;
  & h1{
    margin: 4px 0 4px 0 !important;
  }
  & h5{
    font-size: 16px;
    color: #979797;
  }
  & h5:hover{
    color: #F8CF51;
  }
}

.service-header .panel{
  border-top-color: #F8CF51 !important;
}

.active-notification-nav{
  color: #F8CF51 !important ;
}

.notification-webhooks-buttons{
  width: 100% !important;
}

.rehive-webhook-div-left{
  padding: 0 15px 0 0;
}

.rehive-webhook-div-right{
  padding: 0 0 0 15px;
}