#toast-container .toast{
  opacity: 1 !important;
  padding: 15px 15px 15px 15px !important;
  box-shadow: none;
  &:hover{
    box-shadow: none;
  }
}

#toast-container .toast-message{
  font-size: 14px;
  font-weight: 500;
}

.toast-success{
  background-color: #5EC980 !important;
}

.toast-error{
  background-color: #ED675A !important;
}

#toast-container .toast.toast-success{
  background-image: none !important;
}

#toast-container .toast.toast-error{
  background-image: none !important;
}

#toast-container .toast.toast-info{
  background-image: none !important;
}

#toast-container .toast.toast-warning{
  background-image: none !important;
}
