.user-btn-export{
  position: relative;
  top: -34px;
}

.copy-clipboard a{
  margin-right: 6px;
}

.panel-header-user-icon{
  position: absolute;
  top: 10px;
  right: 120px;
}

.user-details-view{
  margin-bottom: 60px;
}

.document-info-header{
  margin-top: 0 !important;
}

.user-details-table > tbody > tr > th {
  padding: 6px;
  vertical-align: middle;
}

.user-details-table > tbody > tr > .custom-table-th {
  padding: 6px 4px 6px 6px;
}

.user-details-table > tbody > tr > th:last-child{
  padding: 6px 0 6px 6px;
}

.user-details-table{
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.user-accounts-btn{
  width: 80px;
}

.account-settings-table > tbody > tr> td {
  line-height: 22px;
}

.documentImage{
  background-image: url('../../assets/img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.document-modal-window .modal-dialog{
  width: 90vw;
}

@media screen and (max-width: 1300px) {
  .user-accounts-list-element{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}