.verification-text{
  box-sizing: border-box;
  padding: 10px;
 & > p{
   text-align: center;
   color:#666;
   font-size: 14px;
  }
}

.verification-link{
  cursor: pointer;
}

.verification-button{
  display: block;
  margin: auto;
}

.register-note{
  margin-bottom: 18px;
  text-align: left;
  display: block;
}

.reset-note{
  margin-bottom: 18px;
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.verification-btn-box{
  margin-bottom: 24px !important;
}

.terms-and-agreement-link{
  font-size: 15px !important;
}

.register-password-icon{
  margin-right: 11px;
  position: relative;
  top: -29px;
  color: #979797;
  &:hover{
    color: $primary;
  }
}

.register-password-icon-show{
  margin-right: 11px;
  position: relative;
  top: -29px;
  color: #979797;
  &:hover{
    color: $primary;
  }
}