<quotes-list-filters></quotes-list-filters>
<div ba-panel  ba-panel-title="Quotes" class="service-header col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <table ng-hide="icoQuotes.length == 0 || loadingQuotes" class="table table-condensed table-striped table-hover">
        <tr class="black-muted-bg">
            <td><strong>User</strong></td>
            <td><strong>Phase</strong></td>
            <td><strong>Deposit amount</strong></td>
            <td><strong>Deposit currency</strong></td>
            <td><strong>Token amount</strong></td>
            <td><strong>Rate</strong></td>
            <td><strong>Created</strong></td>
        </tr>
        <tr ng-repeat="quote in icoQuotes | orderBy: '-created'"
            ng-click="openQuotesModal('app/pages/services/icoService/icos/viewIco/quotes/quotesModal/quotesModal.html', 'md',quote)"
            class="editable-row center pointer">
            <td class="ico-service-list-element" title="{{quote.user}}" ng-bind="quote.user | limitTo: 10"></td>
            <td class="ico-service-list-element"  title="{{quote.phase}}" ng-bind="quote.phase"></td>
            <td class="ico-service-list-element" title="{{quote.deposit_amount  | currencyModifiersFilter: quote.deposit_currency.divisibility}}"
                ng-bind="quote.deposit_amount  | currencyModifiersFilter: quote.deposit_currency.divisibility"></td>
            <td class="ico-service-list-element" title="{{quote.deposit_currency.code}}"
                ng-bind="quote.deposit_currency.code"></td>
            <td class="ico-service-list-element" title="{{quote.token_amount  | currencyModifiersFilter: icoObj.currency.divisibility}}"
                ng-bind="quote.token_amount  | currencyModifiersFilter: icoObj.currency.divisibility"></td>
            <td class="ico-service-list-element" title="{{quote.rate  | currencyModifiersFilter: icoObj.currency.divisibility}}"
                ng-bind="quote.rate  | currencyModifiersFilter: icoObj.currency.divisibility"></td>
            <td class="ico-service-list-element" title="{{quote.created | date:'mediumDate'}} {{quote.created | date:'shortTime'}}">
                {{quote.created | date:'mediumDate'}} {{quote.created | date:'shortTime'}}</td>
        </tr>
    </table>
    <div ng-hide="icoQuotes.length == 0 || loadingQuotes">
        <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="icoQuotesData.count" ng-model="pagination.pageNo"
           max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getIcoQuotes()"
           previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
    </div>
    <div ng-show="icoQuotes.length == 0 && !loadingQuotes">
        <i>No quotes are available</i>
    </div>
    <div ng-show="loadingQuotes">
        <loading-image></loading-image>
    </div>
</div>