<div ng-repeat="account in accounts">
    <div ng-if="account.currencies.length > 0" ng-hide="loadingUserAccounts" ba-panel
         ba-panel-title="Account: {{account.name}}">

        <table class="table fees-table table-condensed table-striped user-details-table">
            <tr>
                <th><strong>Currency</strong></th>
                <th><strong>Balance</strong></th>
                <th></th>
            </tr>

            <tr ng-repeat="acc in account.currencies">
                <td class="user-accounts-list-element" ng-bind="acc.currency.code"></td>
                <td class="user-accounts-list-element" title="{{acc.balance  | currencyModifiersFilter: acc.currency.divisibility | preciseRound: acc.currency.divisibility}}"
                    ng-bind="acc.balance  | currencyModifiersFilter: acc.currency.divisibility | preciseRound: acc.currency.divisibility">
                </td>
                <td class="rehive-table-row-last-child">
                    <button ng-click="goToSettings(acc.currency.code,account.reference)"
                            class="btn btn-primary pull-right user-accounts-btn">Settings
                    </button>

                    <button ng-click="goToView('transactions.credit',acc.currency,account.user.email,account.reference)"
                            class="btn btn-primary pull-right user-accounts-btn margin-right-10">Credit
                    </button>
                    <button ng-click="goToView('transactions.debit',acc.currency,account.user.email,account.reference)"
                            class="btn btn-primary pull-right user-accounts-btn margin-right-10">Debit
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div ng-if="account.currencies.length == 0" ng-hide="loadingUserAccounts" ba-panel
         ba-panel-title="Account: {{account.name}}">
        <i style="margin-top: 10px">No currencies associated with this account yet.</i>
    </div>
</div>

<div ba-panel ng-show="loadingUserAccounts">
    <loading-image></loading-image>
</div>
