<div ng-hide="loadingUserCryptoAccounts || addingUserCryptoAccounts || editingUserCryptoAccounts" ba-panel class="setting-bank-accounts" ba-panel-title="User crypto accounts">
    <button ng-click="toggleAddUserCryptoAccountsView()" class="btn btn-primary pull-right user-accounts-btn panel-header-button" disabled>Add</button>
    <table ng-show="userCryptoAccountsList.length > 0" class="table fees-table table-striped setting-bank-accounts-table">
        <tr class="black-muted-bg divider">
            <th><strong>Address</strong></th>
            <th><strong>Type</strong></th>
            <th></th>
        </tr>
        <tr ng-repeat="cryptoAccount in userCryptoAccountsList">
            <td class="table-row-center transactions-list-element" title="{{cryptoAccount.address}}" ng-bind="cryptoAccount.address"></td>
            <td class="table-row-center transactions-list-element" title="{{cryptoAccount.crypto_type}}" ng-bind="cryptoAccount.crypto_type"></td>
            <td class="rehive-table-row-last-child">
                <button ng-click="openUserCryptoAccountsModal('app/pages/users/userDetails/userCryptoAccounts/userCryptoAccountsModal/userCryptoAccountsModal.html','md',cryptoAccount)" class="btn btn-danger pull-right user-accounts-btn">Delete</button>
                <button ng-click="toggleUserCryptoAccountsEditView(cryptoAccount)" class="btn btn-primary pull-right user-accounts-btn margin-right-10" disabled>Edit</button>
            </td>
        </tr>
    </table>
    <div ng-show="userCryptoAccountsList.length == 0">
        <i>No user crypto accounts are available</i>
    </div>
</div>
<div ng-show="addingUserCryptoAccounts">
    <create-user-switch></create-user-switch>
</div>
<div ng-show="editingUserCryptoAccounts">
    <edit-user-switch></edit-user-switch>
</div>
<div ba-panel ng-show="loadingUserCryptoAccounts">
    <loading-image></loading-image>
</div>