<div ba-panel  ba-panel-title="Phase List" class="service-header col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div>
        <button class="btn btn-success pull-right panel-header-button" ng-click="goToAddPhaseView()">Add</button>
    </div>
    <table ng-hide="icoPhases.length == 0 || loadingPhases" class="table table-condensed table-striped table-hover ">
        <tr class="black-muted-bg">
            <td><strong>Level</strong></td>
            <td><strong>Percentage</strong></td>
            <td><strong>Base rate</strong></td>
            <td></td>
        </tr>
        <tr ng-repeat="phase in icoPhases"
            ng-click="goToRateListView(phase)"
            class="editable-row center pointer">
            <td><div title="{{phase.level}}"
                     ng-bind="phase.level"></div></td>
            <td><div title="{{phase.percentage}}"
                     ng-bind="phase.percentage"></div></td>
            <td><div title="{{phase.base_rate  | currencyModifiersFilter: ico.base_currency.divisibility}}"
                     ng-bind="phase.base_rate  | currencyModifiersFilter: ico.base_currency.divisibility"></div></td>
            <td ng-click="$event.stopPropagation()" class="rehive-table-row-last-child">
                <button ng-click="deletePhasePrompt(phase)" class="btn btn-danger pull-right rehive-button-no-right-margin">Delete</button>
            </td>
        </tr>
    </table>
    <div ng-show="icoPhases.length == 0">
        <i>No phases have been created</i>
    </div>
    <div ng-show="loadingPhases">
        <loading-image></loading-image>
    </div>
</div>