<div ba-panel  ba-panel-title="Create credit" ba-panel-class="light-text">
    <form name="creditForm" class="custom-form">
        <div class="form-group">
            <label><strong>User</strong> <span class="required-icon">*</span></label>
            <input type="email" ng-model="creditData.user" placeholder="e.g. email@domain.com"
                   uib-typeahead="email for email in getUsersEmailTypeahead($viewValue)" ng-model-options='{ debounce: 800 }'
                   class="form-control" size="12" required>
        </div>
        <div class="form-group">
            <label><strong>Amount</strong> <span class="required-icon">*</span></label>
            <input type="text" ng-model="creditData.amount" class="form-control"  placeholder="e.g. 100000000" required>
        </div>
        <div class="form-group">
            <label><strong>Reference</strong></label>
            <input type="text" ng-model="creditData.reference" class="form-control"  placeholder="e.g. # 1234">
        </div>
        <div class="form-group">
            <div ng-hide="showAdvancedOption">
                <a class="pointer" ng-click="displayAdvancedOption()">Advanced options</a>
            </div>
            <div ng-show="showAdvancedOption">
              <div class="form-group">
                  <label><strong>Subtype</strong></label>
                  <select class="form-control pointer" ng-model="creditData.subtype"
                          ng-options="subtypeOption for subtypeOption in subtypeOptions">
                  </select>
              </div>
              <div class="form-group">
                  <label><strong>Account reference</strong></label>
                  <input type="text" ng-model="creditData.account" class="form-control"  placeholder="Enter account reference">
              </div>
              <div class="form-group">
                  <label><strong>Note</strong></label>
                  <textarea rows="4" type="text" ng-model="creditData.note" class="form-control"  placeholder='Enter note'></textarea>
              </div>
              <div class="form-group">
                  <label><strong>Metadata <i uib-tooltip-html="'<strong>Metadata should be entered in JSON format. e.g. {&#34;Hello&#34;: &#34;World&#34;}</strong>'" class="ion-information-circled"></i></strong></label>
                  <textarea rows="4" type="text" ng-model="creditData.metadata" class="form-control"  placeholder='e.g. {"Hello" : "World"}'></textarea>
              </div>
              <div class="divider">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox"  ng-model="creditData.confirm_on_create">
                    <span>Confirm on create</span>
                </label>
                <i uib-tooltip-html="'<strong>When this option is disabled, a pending transaction will be created, requiring an update or manual “completion” via the dashboard.</strong>'" class="ion-information-circled"></i>
              </div>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="!creditForm.$valid" ng-click="goToView('confirmCredit')" class="btn dashboard-btn btn-primary pull-right">Next</button>
        </div>
    </form>
</div>
