<div ng-hide="editingGeneralWebhook || loadingGeneralWebhooks">
    <div ng-show="generalWebhooks.length > 0" ba-panel class="setting-bank-accounts" ba-panel-title="General webhooks" ba-panel-class="light-text with-scroll">
        <table class="table fees-table table-striped setting-bank-accounts-table">
            <tr class="black-muted-bg divider">
                <th><strong>Event</strong></th>
                <th><strong>URL</strong></th>
                <th><strong>Secret</strong></th>
                <th></th>
            </tr>
            <tr ng-repeat="webhook in generalWebhooks">
                <td class="table-row-center transactions-list-element" title="{{webhook.event}}" ng-bind="webhook.event | capitalizeDottedSentence"></td>
                <td class="table-row-center transactions-list-element" title="{{webhook.url}}" ng-bind="webhook.url"></td>
                <td class="table-row-center transactions-list-element" title="{{webhook.secret}}" ng-bind="webhook.secret"></td>
                <td class="rehive-table-row-last-child">
                    <button ng-click="openGeneralWebhooksModal('app/pages/webhooks/generalWebhooks/generalWebhooksModal/generalWebhooksModal.html','md',webhook)" class="btn btn-danger pull-right rehive-settings-buttons">Delete</button>
                    <button ng-click="toggleGeneralWebhooksEditView(webhook)" class="btn btn-primary pull-right rehive-settings-buttons">Edit</button>
                </td>
            </tr>
        </table>
    </div>
    <div ba-panel ba-panel-title="Add webhook" ba-panel-class="light-text with-scroll">
        <form name="generalWebhooksForm" class="custom-form">
            <div class="form-group">
                <label><strong>Event type</strong> <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-model="generalWebhooksParams.event" ng-options="event for event in eventOptions" required>
                </select>
            </div>
            <div class="form-group">
                <label><strong>Webhook url</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="generalWebhooksParams.url" class="form-control"  placeholder="URL" required>
            </div>
            <div class="form-group">
                <label><strong>Webhook secret</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="generalWebhooksParams.secret" class="form-control"  placeholder="Secret" required>
            </div>
            <div class="form-group">
                <button ng-click="addGeneralWebhooks(generalWebhooksParams)" ng-disabled="!generalWebhooksForm.$valid" class="btn btn-primary pull-right">Add</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="editingGeneralWebhook">
    <edit-general-webhook></edit-general-webhook>
</div>
<div ba-panel ng-show="loadingGeneralWebhooks">
    <loading-image></loading-image>
</div>
