<div ng-hide="loadingUserCryptoAccounts" ba-panel ba-panel-title="Edit user crypto account" ba-panel-class="light-text with-scroll">
    <form name="editUserCryptoAccountsForm" class="custom-form" novalidate>
        <div class="form-group">
            <label><strong>Crypto type</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-change="userCryptoAccountChanged('crypto_type')"
                    ng-model="editUserCryptoAccountParams.crypto_type" ng-options="option for option in userCryptoTypeOptions" required>
            </select>
        </div>
        <div class="form-group">
            <label><strong>Address</strong>  <span class="required-icon">*</span></label>
            <input type="text" class="form-control" ng-change="userCryptoAccountChanged('address')"
                   ng-model="editUserCryptoAccountParams.address" placeholder="Enter crypto address" required/>
        </div>
        <div class="form-group">
            <label><strong>Metadata</strong></label>
            <textarea row="4" type="text" class="form-control" ng-model="editUserCryptoAccountParams.metadata" placeholder="e.g. {hello:world}"/>
        </div>
        <div class="form-group">
            <label><strong>Status</strong></label>
            <select class="form-control pointer" ng-change="userCryptoAccountChanged('status')"
                    ng-model="editUserCryptoAccountParams.status" ng-options="statusOption for statusOption in statusOptions">
            </select>
        </div>
        <div class="form-group">
            <button ng-click="editUserCryptoAccount()" ng-disabled="!editUserCryptoAccountsForm.$valid" class="btn btn-primary user-accounts-btn pull-right">Save</button>
            <button ng-click="toggleUserCryptoAccountsEditView()" class="btn btn-primary user-accounts-btn pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>