<ico-service-navigation></ico-service-navigation>
<div class="row">
    <div ng-hide="creatingPhase" ba-panel ba-panel-title="Create phase" class="service-header col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <form name="icoPhaseForm" novalidate>
            <div class="form-group">
                <label><strong>Level</strong> <span class="required-icon">*</span></label>
                <select class="form-control pointer divider" ng-model="createPhaseParams.level"
                        ng-options="level for level in levelOptions" required>
                </select>
            </div>
            <div class="form-group">
                <label><strong>Percentage</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="createPhaseParams.percentage" class="form-control"  placeholder="Enter percentage" required>
            </div>
            <div class="form-group">
                <label><strong>Base rate</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="createPhaseParams.base_rate" class="form-control"  placeholder="Enter base rate" required>
            </div>
            <div class="form-group">
                <button ng-disabled="!icoPhaseForm.$valid" ng-click="addPhase(createPhaseParams)" class="btn btn-primary pull-right">Add</button>
                <button ng-click="goToIcoView()" class="btn btn-primary pull-right margin-right-10">Back</button>
            </div>
        </form>
    </div>
    <div ng-show="creatingPhase" ba-panel class="service-header col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <loading-image></loading-image>
    </div>
</div>