<div ng-hide="loadingCompanyBankAccounts" ba-panel class="bank-accounts" ba-panel-title="Bank accounts" ba-panel-class="light-text">
    <div ng-show="companyBankAccounts.length > 0">
        <div ng-repeat="bank in companyBankAccounts" class="divider">
            <label class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox" ng-model="bank.checked" ng-change="saveMarkedBankAccounts(bank)">
                <span>{{bank.bank_name}}, {{bank.number}}</span>
            </label>
        </div>
        <hr>
        <div>
            <sub class="subscript pull-left divider">*Go to <a href="/#/settings/bank-accounts">Settings</a>
                to edit bank account details or create a new one.</sub>
        </div>
    </div>
    <div ng-show="companyBankAccounts.length == 0">
        <i>No company banks are available. You can add one in <a href="/#/settings/bank-accounts">Settings > Bank accounts</a></i>
    </div>
</div>
<div ba-panel ng-show="loadingCompanyBankAccounts">
    <loading-image></loading-image>
</div>
