<div ng-hide="addingAccount || editingAccount">
    <div ng-hide="loadingUserAccountsList" ba-panel ba-panel-title="Accounts list">
        <button ng-click="toggleAddAccount()" class="btn btn-success panel-header-button user-accounts-btn">Add</button>
        <table  ng-if="accounts.length > 0" class="table fees-table table-condensed table-striped user-details-table">
            <tr>
                <th><strong>Name</strong></th>
                <th><strong>Reference</strong></th>
                <th><strong>Primary</strong></th>
                <th></th>
            </tr>
            <tr ng-repeat="account in accounts">
                <td class="user-accounts-list-element" ng-bind="account.name"></td>
                <td class="user-accounts-list-element"
                    ng-bind="account.reference">
                </td>
                <td class="user-accounts-list-element"
                    ng-bind="account.primary">
                </td>
                <td class="rehive-table-row-last-child">
                    <button ng-click="toggleEditAccount(account)"
                            class="btn btn-primary pull-right user-accounts-btn">Edit
                    </button>
                </td>
            </tr>
        </table>
        <div ng-if="accounts.length == 0" ng-hide="loadingUserAccountsList">
            <i style="margin-top: 10px">No account associated with this user yet.</i>
        </div>
    </div>
</div>
<div ng-show="addingAccount">
    <add-user-account></add-user-account>
</div>
<div ng-show="editingAccount">
    <edit-user-account></edit-user-account>
</div>
<div ba-panel ng-show="loadingUserAccountsList">
    <loading-image></loading-image>
</div>
