<div ng-hide="loadingUserSwitches" ba-panel ba-panel-title="Edit user switch" ba-panel-class="light-text with-scroll">
    <form name="editUserSwitchForm" class="custom-form" novalidate>
        <div class="form-group">
            <label><strong>Transaction type</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-change="userSwitchChanged('tx_type'); getSubtypesArray(editUserSwitch);" ng-model="editUserSwitch.tx_type" ng-options="option for option in userSwitchesOptions" required>
            </select>
        </div>
        <div ng-hide="loadingSubtypes" class="form-group">
            <label><strong>Subtype</strong></label>
            <select class="form-control pointer" ng-change="userSwitchChanged('subtype')" ng-model="editUserSwitch.subtype"
                    ng-options="subtypeOption for subtypeOption in subtypeOptions">
            </select>
        </div>
        <div ng-show="loadingSubtypes">
            <loading-image class="custom-subtype-loading"></loading-image>
        </div>
        <div class="form-group">
            <label><strong>Enabled</strong></label>
            <br>
            <select class="form-control pointer" ng-change="userSwitchChanged('enabled')" ng-model="editUserSwitch.enabled" ng-options="bool for bool in boolOptions" required>
            </select>
        </div>
        <div class="form-group">
            <button ng-click="updateUserSwitch()" ng-disabled="!editUserSwitchForm.$valid" class="btn btn-primary user-accounts-btn pull-right">Save</button>
            <button ng-click="toggleUserSwitchesEditView()" class="btn btn-primary user-accounts-btn pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>
