<div ng-hide="loadingGeneralWebhooks" ba-panel ba-panel-title="Edit webhook" ba-panel-class="light-text with-scroll">
    <form name="editGeneralWebhooksForm" class="custom-form" novalidate>
        <div class="form-group">
            <label><strong>General event</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-change="generalWebhookChanged('event')" ng-model="editGeneralWebhook.event" ng-options="event for event in eventOptions" required>
            </select>
        </div>
        <div class="form-group">
            <label><strong>Webhook url</strong> <span class="required-icon">*</span></label>
            <input ng-change="generalWebhookChanged('url')" type="text" ng-model="editGeneralWebhook.url" class="form-control"  placeholder="URL" required>
        </div>
        <div class="form-group">
            <label><strong>Webhook secret</strong> <span class="required-icon">*</span></label>
            <input ng-change="generalWebhookChanged('secret')" type="text" ng-model="editGeneralWebhook.secret" class="form-control"  placeholder="Secret" required>
        </div>
        <div class="form-group">
            <button ng-click="updateGeneralWebhook()" ng-disabled="!editGeneralWebhooksForm.$valid" class="btn btn-primary pull-right">Save</button>
            <button ng-click="toggleGeneralWebhooksEditView()" class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>
