<div ng-hide="loadingAccountCurrencySwitches || editingAccountCurrencySwitches" ba-panel class="setting-bank-accounts" ba-panel-title="Account currency switches for {{userData.email}}" ba-panel-class="light-text with-scroll">
    <table ng-show="accountCurrencySwitchesList.length > 0" class="table fees-table table-striped setting-bank-accounts-table">
        <tr class="black-muted-bg divider">
            <th><strong>Tx type</strong></th>
            <th><strong>Subtype</strong></th>
            <th><strong>Enabled</strong></th>
            <th></th>
        </tr>
        <tr ng-repeat="accountCurrencySwitch in accountCurrencySwitchesList">
            <td class="table-row-center transactions-list-element" title="{{accountCurrencySwitch.tx_type}}" ng-bind="accountCurrencySwitch.tx_type | capitalizeWord | limitTo: '35'"></td>
            <td class="table-row-center transactions-list-element" title="{{accountCurrencySwitch.subtype ? accountCurrencySwitch.subtype : 'None'}}" ng-bind="accountCurrencySwitch.subtype ? accountCurrencySwitch.subtype : 'None'| limitTo: '35'"></td>
            <td class="table-row-center transactions-list-element" title="{{accountCurrencySwitch.enabled}}" ng-bind="accountCurrencySwitch.enabled | capitalizeWord | limitTo: '35'"></td>
            <td class="rehive-table-row-last-child">
                <button ng-click="openAccountCurrencySwitchesModal('app/pages/users/userDetails/userAccounts/accountSettings/accountCurrencySwitches/accountCurrencySwitchesModal/accountCurrencySwitchesModal.html','md',accountCurrencySwitch)" class="btn btn-danger pull-right rehive-settings-buttons">Delete</button>
                <button ng-click="toggleAccountCurrencySwitchEditView(accountCurrencySwitch)" class="btn btn-primary pull-right rehive-settings-buttons">Edit</button>
            </td>
        </tr>
    </table>
    <div ng-show="accountCurrencySwitchesList.length == 0">
        <i>No switches are available.</i>
    </div>
</div>
<div ng-hide="loadingAccountCurrencySwitches || editingAccountCurrencySwitches" ba-panel ba-panel-title="Add account currency switch" ba-panel-class="light-text with-scroll">
    <form name="accountCurrencySwitchForm" class="custom-form">
        <div class="form-group">
            <label><strong>Transaction type</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-change="getSubtypesArray(accountCurrencySwitchesParams)" ng-model="accountCurrencySwitchesParams.tx_type" ng-options="option for option in txTypeOptions" required>
            </select>
        </div>
        <div ng-hide="loadingSubtypes" class="form-group">
            <label><strong>Subtype</strong></label>
            <select class="form-control pointer" ng-model="accountCurrencySwitchesParams.subtype" ng-options="subtypeOption for subtypeOption in subtypeOptions">
            </select>
        </div>
        <div ng-show="loadingSubtypes">
            <loading-image class="custom-subtype-loading"></loading-image>
        </div>
        <div class="form-group">
            <label><strong>Enabled</strong></label>
            <br>
            <select class="form-control pointer" ng-model="accountCurrencySwitchesParams.enabled" ng-options="bool for bool in boolOptions" required>
            </select>
        </div>
        <div class="form-group">
            <button ng-click="addAccountCurrencySwitch(accountCurrencySwitchesParams)" ng-disabled="!accountCurrencySwitchForm.$valid" class="btn btn-success dashboard-btn pull-right">Add</button>
        </div>
    </form>
</div>
<div ng-show="editingAccountCurrencySwitches">
    <edit-account-currency-switch></edit-account-currency-switch>
</div>
<div ba-panel ng-show="loadingAccountCurrencySwitches">
    <loading-image></loading-image>
</div>