<div ba-panel class="menu-box service-header" ba-panel-class="light-text">
    <img ng-src="{{defaultImageUrl}}" class="image-center" width="90" height="90" alt="token Image">
    <hr class="no-margin">
    <div ng-click="goToIcoOptions('/phase/list')" class="pointer menu-box-options">
        <h5>Phases <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToIcoOptions('/settings/bank-accounts')" class="pointer menu-box-options">
        <h5>Quotes <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToIcoOptions('/settings/subtypes')" class="pointer menu-box-options">
        <h5>Purchases <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
