<div ba-panel ba-panel-title="Confirm debit" ba-panel-class="light-text">
    <div class="confirm-transaction">
        <p>You are about to debit <strong>{{debitData.currency.symbol}} {{debitData.amount}}</strong> from <strong>{{debitData.user}}</strong>
        </p>
    </div>
    <div >
        <div>
            <button ng-disabled="onGoingTransaction" ng-click="createDebitTransaction()" class="btn btn-primary dashboard-btn pull-right">Confirm</button>
            <button ng-disabled="onGoingTransaction" ng-click="goToView('createDebit')"
            class="btn btn-primary dashboard-btn pull-right margin-right-10">Back</button>
        </div>
    </div>
</div>
