<div ng-hide="loadingUserPermissions || addingUserPermission" ba-panel class="setting-bank-accounts" ba-panel-title="User permissions">
    <button ng-click="toggleAddUserPermissionView()" class="btn btn-primary pull-right user-accounts-btn panel-header-button">Add</button>
    <table ng-show="userPermissionsList.length > 0" class="table fees-table table-striped setting-bank-accounts-table">
        <tr class="black-muted-bg divider">
            <th><strong>Type</strong></th>
            <th><strong>Level</strong></th>
            <th></th>
        </tr>
        <tr ng-repeat="permission in userPermissionsList">
            <td class="table-row-center transactions-list-element" title="{{permission.type}}" ng-bind="permission.type"></td>
            <td class="table-row-center transactions-list-element" title="{{permission.level}}" ng-bind="permission.level"></td>
            <td class="rehive-table-row-last-child">
                <button ng-click="openUserPermissionModal('app/pages/users/userDetails/userPermissions/userPermissionModal/userPermissionModal.html','md',permission)" class="btn btn-danger pull-right user-accounts-btn">Delete</button>
            </td>
        </tr>
    </table>
    <div ng-show="userPermissionsList.length == 0 && !loadingUserPermissions">
        <i>No user permissions are available</i>
    </div>
</div>
<div ng-show="addingUserPermission">
    <add-user-permission></add-user-permission>
</div>
<div ba-panel ng-show="loadingUserPermissions">
    <loading-image></loading-image>
</div>