<div ba-panel class="service-header menu-box" ba-panel-class="light-text">
    <img ng-src="{{defaultImageUrl}}" class="image-center" width="90" height="90" alt="token Image">
    <hr class="no-margin">
    <div ng-click="goToStellarSetting('secret')" class="pointer menu-box-options">
        <h5>Secret <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToStellarSetting('webhooks')" class="pointer menu-box-options">
        <h5>Webhooks <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
