<div ba-panel ba-panel-title="Credits" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <table class="table table-striped divider col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <tr class="black-muted-bg">
            <td>24h volume</td>
            <td>{{selectedCurrency.symbol}} {{currencyOverviewData.sum_24h_credits_complete | currencyModifiersFilter: selectedCurrency.divisibility}}</td>
        </tr>
        <tr>
            <td>Total volume</td>
            <td>{{selectedCurrency.symbol}} {{currencyOverviewData.sum_24h_credits_complete | currencyModifiersFilter: selectedCurrency.divisibility}}</td>
        </tr>
        <tr>
            <td>Number of transactions complete</td>
            <td>{{currencyOverviewData.count_credits_complete}}</td>
        </tr>
    </table>
    <button ng-click="goToPath('/transactions/credit')" class="btn btn-primary pull-right">Manage</button>
</div>
<div ba-panel ba-panel-title="Debits" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <table class="table table-striped divider col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <tr class="black-muted-bg">
            <td>24h volume</td>
            <td>{{selectedCurrency.symbol}} {{currencyOverviewData.sum_24h_debits_complete | currencyModifiersFilter: selectedCurrency.divisibility}}</td>
        </tr>
        <tr>
            <td>Total volume</td>
            <td>{{selectedCurrency.symbol}} {{currencyOverviewData.sum_24h_debits_complete | currencyModifiersFilter: selectedCurrency.divisibility}}</td>
        </tr>
        <tr>
            <td>Number of transactions complete</td>
            <td>{{currencyOverviewData.count_debits_complete}}</td>
        </tr>
    </table>
    <button ng-click="goToPath('/transactions/debit')" class="btn btn-primary pull-right">Manage</button>
</div>
