<div ng-keydown="($event.keyCode === 13)  && getLatestTransactions('applyFilter')">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>Id</strong></label>
            <input type="text"  class="form-control" id="id"  placeholder="Enter transaction Id" ng-model="searchParams.searchId" size="12">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>User</strong></label>
            <input type="text" ng-model="searchParams.searchUser" placeholder="Enter email address."
                   uib-typeahead="email for email in getUsersTypeahead($viewValue)"
                   class="form-control" size="12">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider datepicker">
            <label><strong>From date</strong></label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{dateObj.format}}" ng-model="searchParams.searchDateFrom"
                       is-open="popup1.opened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>To date</strong></label>
            <input type="date" ng-model="searchParams.searchDateTo" class="form-control" id="date_to"  placeholder="Date to">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 divider">
            <label><strong>Type</strong></label>
            <br>
            <select class="form-control pointer" ng-model="searchParams.searchType" ng-options="type for type in typeOptions">
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label><strong>Subtype</strong></label>
            <input type="text"  class="form-control" id="subtype"  placeholder="Enter subtype" ng-model="searchParams.searchSubType" size="12">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label><strong>Currency</strong></label>
            <br>
            <select class="form-control pointer" ng-model="searchParams.searchCurrency"
                    ng-options="currency.code for currency in currencyOptions track by currency.code">
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label><strong>Status</strong></label>
            <br>
            <select class="form-control pointer" ng-model="searchParams.searchStatus" ng-options="status for status in statusOptions">
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label><strong>Order by</strong></label>
            <br>
            <select class="form-control pointer" ng-model="searchParams.searchOrderBy" ng-options="orderBy for orderBy in orderByOptions">
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 pull-right apply-button">
            <label>&nbsp;</label>
            <br>
            <button ng-disabled="loadingTransactions" class="btn btn-primary" ng-click="getLatestTransactions('applyFilter')">Apply</button>
        </div>
    </div>
</div>