<div>
    <h1>Add custom currency</h1>
    <form name="customCurrencyForm" novalidate>
        <div class="row form-group">
            <div class="col-sm-12">
                <label><strong>Code</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="newCurrencyParams.code" class="form-control" placeholder="Code , e.g. USD" auto-focus="!newCurrencyParams.code" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label><strong>Description</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="newCurrencyParams.description" class="form-control" placeholder="Description, e.g. United States dollar" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label><strong>Symbol</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="newCurrencyParams.symbol" class="form-control" placeholder="Symbol, e.g. $" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label><strong>Unit</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="newCurrencyParams.unit" class="form-control" placeholder="Unit, e.g. dollar" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <label><strong>Divisibility</strong> <span class="required-icon">*</span></label>
                <input type="number" ng-model="newCurrencyParams.divisibility" class="form-control" placeholder="Divisibility,e.g. 2" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-12">
                <button ng-disabled="!customCurrencyForm.$valid" class="btn btn-auth btn-primary pull-right divider" ng-click="addInitialCustomCompanyCurrency(newCurrencyParams)">Add</button>
                <button class="btn btn-primary pull-right  btn-auth" ng-click="back()">Back</button>
            </div>
        </div>
    </form>
</div>