<div class="text-center">
    <div class="initial-add-currency-block">
        <h1>Welcome to Rehive</h1>
        <p>Rehive helps you to launch and manage payment apps.
            You can add more currencies that you wish to support at any time.
            Add your first currency to start now.</p>
    </div>

    <div class="row form-group verification-btn-box">
        <div class="col-sm-12">
            <select class="form-control pointer divider" ng-model="addCurrency.currencyChoice"
                    ng-options="currency.code + ' - ' + currency.description for currency in currencyOptions | orderBy: 'code'">
            </select>
            <button class="btn btn-auth btn-primary pull-right divider" ng-click="addInitialCompanyCurrency(addCurrency.currencyChoice)">Add currency</button>
            <button class="btn btn-auth btn-success pull-right" ng-click="showCustomCurrencyView()">Add custom</button>
        </div>
    </div>
</div>
