<div class="user-details-view" ng-hide="updatingProfilePic">
    <div class="row divider">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <img class="pointer" ng-click="toggleProfilePictureView()"
                 ng-src="{{user.profile}}"  width="90" height="90" alt="token Image">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <user-account-info></user-account-info>
            <user-basic-info></user-basic-info>
            <user-address></user-address>
            <user-bank-account></user-bank-account>
            <user-documents></user-documents>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <user-activity></user-activity>
            <user-accounts></user-accounts>
            <user-crypto-accounts></user-crypto-accounts>
            <div ba-panel ba-panel-title="Switches and permissions">
                <div>
                    <button ng-click="goToSwitchesAndPermissions()" class="btn btn-primary user-accounts-btn panel-header-button">Settings</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="updatingProfilePic">
    <user-profile-picture></user-profile-picture>
</div>