<div ba-panel ba-panel-title="Edit permission group" ba-panel-class="light-text with-scroll">
    <form name="editPermissionGroupForm" class="custom-form">
        <div class="form-group">
            <label><strong>Name</strong> <span class="required-icon">*</span></label>
            <input type="text" ng-model="editPermissionGroupsObj.updateName" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
            <button ng-click="editPermissionGroup(editPermissionGroupsObj)"
                    ng-disabled="!editPermissionGroupForm.$valid" class="btn btn-primary dashboard-btn pull-right">Save</button>
            <button ng-click="editPermissionToggle()" class="btn btn-primary dashboard-btn pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>