<div ng-hide="loadingAccountCurrencyLimits || editingAccountCurrencyLimits" ba-panel class="setting-bank-accounts" ba-panel-title="Account currency limits" ba-panel-class="light-text with-scroll">
    <table ng-show="accountCurrencyLimitsList.length > 0" class="table fees-table table-striped setting-bank-accounts-table">
        <tr class="black-muted-bg divider">
            <th><strong>Tx type</strong></th>
            <th><strong>Amount</strong></th>
            <th><strong>Type</strong></th>
            <th><strong>Subtype</strong></th>
            <th></th>
        </tr>
        <tr ng-repeat="accountCurrencyLimit in accountCurrencyLimitsList">
            <td class="table-row-center transactions-list-element" title="{{accountCurrencyLimit.tx_type | capitalizeWord}}" ng-bind="accountCurrencyLimit.tx_type | capitalizeWord | limitTo: '35'"></td>
            <td class="table-row-center transactions-list-element" title="{{accountCurrencyLimit.value | currencyModifiersFilter: currencyObj.divisibility | preciseRound: currencyObj.divisibility}}"
                ng-bind="accountCurrencyLimit.value | currencyModifiersFilter: currencyObj.divisibility | preciseRound: currencyObj.divisibility"></td>
            <td class="table-row-center transactions-list-element" title="{{accountCurrencyLimit.type}}" ng-bind="accountCurrencyLimit.type | capitalizeWord | limitTo: '35'"></td>
            <td class="table-row-center transactions-list-element" title="{{accountCurrencyLimit.subtype ? accountCurrencyLimit.subtype : 'None'}}" ng-bind="accountCurrencyLimit.subtype ? accountCurrencyLimit.subtype : 'None'| limitTo: '35'"></td>
            <td class="rehive-table-row-last-child">
                <button ng-click="openAccountCurrencyLimitsModal('app/pages/users/userDetails/userAccounts/accountSettings/accountCurrencyLimits/accountCurrencyLimitsModal/accountCurrencyLimitsModal.html','md',accountCurrencyLimit)" class="btn btn-danger pull-right rehive-settings-buttons">Delete</button>
                <button ng-click="toggleAccountCurrencyLimitEditView(accountCurrencyLimit)" class="btn btn-primary pull-right rehive-settings-buttons">Edit</button>
            </td>
        </tr>
    </table>
    <div ng-show="accountCurrencyLimitsList.length == 0">
        <i>No limits are available.</i>
    </div>
</div>
<div ng-hide="loadingAccountCurrencyLimits || editingAccountCurrencyLimits" ba-panel ba-panel-title="Add account currency limit" ba-panel-class="light-text with-scroll">
    <form name="accountCurrencyLimitForm" class="custom-form">
        <div class="form-group">
            <label><strong>Transaction type</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-change="getSubtypesArray(accountCurrencyLimitsParams)" ng-model="accountCurrencyLimitsParams.tx_type" ng-options="option for option in txTypeOptions" required>
            </select>
        </div>
        <div class="form-group">
            <label><strong>Amount</strong></label>
            <input type="text" class="form-control" ng-model="accountCurrencyLimitsParams.value" placeholder="Enter value"/>
        </div>
        <div class="form-group">
            <label><strong>Type</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-model="accountCurrencyLimitsParams.type" ng-options="typeOption for typeOption in typeOptions" required>
            </select>
        </div>
        <div ng-hide="loadingSubtypes" class="form-group">
            <label><strong>Subtype</strong></label>
            <select class="form-control pointer" ng-model="accountCurrencyLimitsParams.subtype"
                    ng-options="subtypeOption for subtypeOption in subtypeOptions">
            </select>
        </div>
        <div ng-show="loadingSubtypes">
            <loading-image class="custom-subtype-loading"></loading-image>
        </div>
        <div class="form-group">
            <button ng-click="addAccountCurrencyLimit(accountCurrencyLimitsParams)" ng-disabled="!accountCurrencyLimitForm.$valid" class="btn btn-primary pull-right">Add</button>
        </div>
    </form>
</div>
<div ng-show="editingAccountCurrencyLimits">
    <edit-account-currency-limit></edit-account-currency-limit>
</div>
<div ba-panel ng-show="loadingAccountCurrencyLimits">
    <loading-image></loading-image>
</div>