<div ng-hide="loadingPermissionGroups || editingPermissionGroups">
    <div ng-show="permissionGroups.length > 0" ba-panel ba-panel-title="Permission groups" ba-panel-class="light-text with-scroll">
        <table class="table fees-table table-striped ">
            <tr class="black-muted-bg divider">
                <th><strong>Name</strong></th>
                <th></th>
            </tr>
            <tr ng-repeat="permissionGroup in permissionGroups">
                <td class="transactions-list-element" ng-bind="permissionGroup.name"></td>
                <td class="rehive-table-row-last-child">
                    <button ng-click="openManagerPermissionsModal('app/pages/settings/permissionsAndManagement/permissionsAndManagementModal/permissionsAndManagementModal.html','md',permissionGroup)"
                            class="btn btn-danger pull-right rehive-settings-buttons">Delete</button>
                    <button ng-click="editPermissionToggle(permissionGroup)" class="btn btn-primary pull-right rehive-settings-buttons">Edit</button>
                    <button ng-click="goToGroupPermissions(permissionGroup.name)" class="btn btn-primary pull-right rehive-settings-buttons">View</button>
                </td>
            </tr>
        </table>
    </div>
    <div ba-panel ba-panel-title="Add permission group" ba-panel-class="light-text with-scroll">
        <form name="permissionGroupForm" class="custom-form">
            <div class="form-group">
                <label><strong>Name</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="permissionGroupsParams.name" class="form-control"  placeholder="Name" required>
            </div>
            <div class="form-group">
                <button ng-click="addPermissionGroup(permissionGroupsParams)" ng-disabled="!permissionGroupForm.$valid" class="btn btn-primary pull-right">Add</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="editingPermissionGroups && !loadingPermissionGroups">
    <edit-permission-and-management></edit-permission-and-management>
</div>
<div ba-panel ng-show="loadingPermissionGroups">
    <loading-image></loading-image>
</div>
