<div>
    <div ng-hide="loadingHdkeys || addingHdkey" class="service-header" ba-panel ba-panel-title="Public keys">
        <div>
            <button class="btn btn-success pull-right dashboard-btn panel-header-button" ng-click="toggleAddHdkeyView()">Add</button>
        </div>
        <div class="divider admin-emails">
            <table class="table table-striped fees-table admin-emails-table">
                <tr class="black-muted-bg divider">
                    <th>Primary</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr ng-repeat="hdKey in hdKeysList">
                    <td width="10%" class="transactions-list-element"><label  class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" ng-change="toggleHdKeyPrimaryStatus(hdKey)" ng-model="hdKey.primary" ng-checked="hdKey.primary">
                        <span></span>
                    </label>
                    </td>
                    <td class="transactions-list-element" title="{{hdKey.address}}" ng-bind="hdKey.address"></td>
                    <td class="transactions-list-element" title="{{hdKey.status}}" ng-bind="hdKey.status"></td>
                    <td class="rehive-table-row-last-child">
                        <button ng-show="hdKey.status == 'Active'" ng-click="toggleHdKeyStatusPrompt(hdKey,'Disabled')" class="btn btn-danger dashboard-btn pull-right">Disable</button>
                        <button ng-hide="hdKey.status == 'Active'" ng-click="toggleHdKeyStatus(hdKey,'Active')" class="btn btn-primary dashboard-btn pull-right">Activate</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="service-header" ba-panel ng-show="loadingHdkeys">
        <loading-image></loading-image>
    </div>
</div>
<div ng-show="addingHdkey">
    <add-hdkey></add-hdkey>
</div>
